parameters:
  fileExtensions:
      - php
      - module
      - install
  paths:
    - ./public/modules/custom
    - ./public/themes/custom
  excludePaths:
    - vendor
  level: 3
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
