<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./public/core/tests/bootstrap.php" colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
  beStrictAboutCoversAnnotation="false"
  printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
  >
<php>
  <!-- Set error reporting to E_ALL. -->
  <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
  <ini name="memory_limit" value="-1"/>
  <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="public/sites/simpletest"/>
  <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","chromeOptions":{"w3c": false, "args":["--disable-gpu","--headless", "--no-sandbox"]}}, "http://127.0.0.1:4444"]' />
  <env name="DTT_MINK_DRIVER_ARGS" value='["chrome", {"chromeOptions":{"w3c": false }}, "http://127.0.0.1:4444"]'/>
  <env name="DTT_API_OPTIONS" value='{"socketTimeout": 360, "domWaitTimeout": 3600000}' />
  <env name="DTT_API_URL" value="http://127.0.0.1:9222"/>
  <env name="DTT_BASE_URL" value="http://127.0.0.1:8080"/>
</php>
<testsuites>
  <testsuite name="unit">
    <directory>./public/modules/custom/*/tests/src/Unit</directory>
    <directory>./public/themes/custom/*/tests/src/Unit</directory>
    <directory>./public/profiles/custom/*/tests/src/Unit</directory>
  </testsuite>
  <testsuite name="kernel">
    <directory>./public/modules/custom/*/tests/src/Kernel</directory>
    <directory>./public/themes/custom/*/tests/src/Kernel</directory>
    <directory>./public/profiles/custom/*/tests/src/Kernel</directory>
  </testsuite>
  <testsuite name="functional">
    <directory>./public/modules/custom/*/tests/src/Functional</directory>
    <directory>./public/themes/custom/*/tests/src/Functional</directory>
    <directory>./public/profiles/custom/*/tests/src/Functional</directory>
  </testsuite>
  <testsuite name="functional-javascript">
    <directory>./public/modules/custom/*/tests/src/FunctionalJavascript</directory>
    <directory>./public/themes/custom/*/tests/src/FunctionalJavascript</directory>
    <directory>./public/profiles/custom/*/tests/src/FunctionalJavascript</directory>
  </testsuite>
  <testsuite name="existing-site">
    <directory>./tests/dtt/src/ExistingSite</directory>
  </testsuite>
  <testsuite name="existing-site-javascript">
    <directory>./tests/dtt/src/ExistingSiteJavascript</directory>
  </testsuite>
</testsuites>
<listeners>
  <listener class="\Drupal\Tests\Listeners\DrupalListener">
  </listener>
</listeners>
<coverage processUncoveredFiles="true">
  <include>
    <directory suffix=".php">./public/modules/custom/*/src</directory>
    <directory suffix=".php">./public/themes/custom/*/src</directory>
    <directory suffix=".php">./public/profiles/custom/*/src</directory>
    <file>./public/modules/custom/*/*.module</file>
    <file>./public/themes/custom/*/*.theme</file>
    <file>./public/profiles/custom/*/*.profile</file>
  </include>
  <exclude>
    <directory>./public/modules/custom/*/src/Tests</directory>
    <directory>./public/themes/custom/*/src/Tests</directory>
    <directory>./public/profiles/custom/*/src/Tests</directory>
  </exclude>
</coverage>
</phpunit>
