on:
  push:
    branches:
      - dev
name: Automatic release PR
jobs:
  release-pr:
    uses: city-of-helsinki/drupal-gh-actions/.github/workflows/auto-release-pr.yml@main
    permissions:
      contents: read
      pull-requests: write
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
