on: [push]
name: CI
jobs:
  tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/city-of-helsinki/drupal-web:8.4
      options: --hostname app --user 1001
    services:
      db:
        image: mysql:9
        env:
          MYSQL_USER: drupal
          MYSQL_PASSWORD: drupal
          MYSQL_DATABASE: drupal
          MYSQL_ROOT_PASSWORD: drupal
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v5

        # Actions worker overrides the default entrypoint with "tail -f /dev/null", so
        # we have to start services manually.
      - name: Start services
        env:
          WEBROOT: ${{ github.workspace }}/public
        run: entrypoint &

      - name: Build project
        run: composer install --no-interaction

      - name: Scan security updates
        run: composer audit

      - name: Install Drupal
        run: |
          php -d sendmail_path=$(which true); vendor/bin/drush --yes -v site-install --db-url="$SIMPLETEST_DB" minimal
          vendor/bin/drush en helfi_platform_config

      - name: Make sure Drupal is installed properly
        run: |
          # Make sure Drupal is installed
          curl -k -s -o /dev/null -I -w "%{http_code}" $SIMPLETEST_BASE_URL/user/login | grep -q 200
