on:
  workflow_dispatch:
  repository_dispatch:
    types: [config_change]
name: Update config
jobs:
  update-config:
    uses: city-of-helsinki/drupal-gh-actions/.github/workflows/update-config.yml@main
    secrets:
      automatic_update_token: ${{ secrets.AUTOMATIC_UPDATE_TOKEN }}
